.timeblock {
  background: #F0F0F0;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  padding-top: 8px;
  padding-bottom: 8px;
  color: black;
  font-size: 1.25em;
}

#_schedule h4 {
  color: #3b1d82;
}

.sponsor-single img {
  max-height: 100px;
  max-width: 260px;
}
